<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1><%= `${user.name}'s Account Plan` %></h1>
      <% if (user.role === 0) { %>
        <h2>Current Plan: Standard</h2>
      <% } else { %>
        <h2>Current Plan: Premium</h2>
      <% } %>
      <hr>
      <form action="/user/<%= user.id %>/upgrade" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_98FHKTfddALvZmL40uctWYU100QQ7qhlkS"
          data-amount="1500"
          data-name="Blocipedia"
          data-description="Membership charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
